<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432269284896-ipuslgecjkfv07kk37jk8f78mfu7k266.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432269284896-ipuslgecjkfv07kk37jk8f78mfu7k266</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>432269284896-vs5iap3cohto7mmrqi02761mplde36vq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWmDrqpsMCvT2SqueMQn9zonuAvA8QGto</string>
	<key>GCM_SENDER_ID</key>
	<string>432269284896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virtualewines</string>
	<key>PROJECT_ID</key>
	<string>virtuale-wines</string>
	<key>STORAGE_BUCKET</key>
	<string>virtuale-wines.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432269284896:ios:6ba741611c7a87c4c3ce45</string>
</dict>
</plist>